<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5696035966600372"
     crossorigin="anonymous"></script>
<!-- dis_horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5696035966600372"
     data-ad-slot="6752830786"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->
