{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>
        {% endif %}
        <button class="theme-toggle" type="button" aria-label="Toggle color theme" title="색상 모드 전환">
          <svg class="theme-toggle__icon theme-toggle__icon--system" aria-hidden="true" width="16" height="16" viewBox="0 0 24 24">
            <path d="M4 5.5A2.5 2.5 0 0 1 6.5 3h11A2.5 2.5 0 0 1 20 5.5v7A2.5 2.5 0 0 1 17.5 15h-11A2.5 2.5 0 0 1 4 12.5v-7Zm2.5-.75A.75.75 0 0 0 5.75 5.5v7a.75.75 0 0 0 .75.75h11a.75.75 0 0 0 .75-.75v-7a.75.75 0 0 0-.75-.75h-11ZM8 19.25h8a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1 0-1.5Zm3.25-5h1.5v5h-1.5v-5Z"/>
          </svg>
          <svg class="theme-toggle__icon theme-toggle__icon--light" aria-hidden="true" width="16" height="16" viewBox="0 0 24 24">
            <path d="M12 17.25A5.25 5.25 0 1 1 12 6.75a5.25 5.25 0 0 1 0 10.5Zm0-1.5a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5ZM12.75 3v2.25h-1.5V3h1.5Zm0 15.75V21h-1.5v-2.25h1.5ZM21 11.25v1.5h-2.25v-1.5H21Zm-15.75 0v1.5H3v-1.5h2.25Zm12.55-6.11 1.06 1.06-1.59 1.59-1.06-1.06 1.59-1.59ZM6.73 16.21l1.06 1.06-1.59 1.59-1.06-1.06 1.59-1.59Zm12.13 1.59-1.06 1.06-1.59-1.59 1.06-1.06 1.59 1.59ZM7.79 6.73 6.73 7.79 5.14 6.2 6.2 5.14l1.59 1.59Z"/>
          </svg>
          <svg class="theme-toggle__icon theme-toggle__icon--dark" aria-hidden="true" width="16" height="16" viewBox="0 0 24 24">
            <path d="M20.1 14.4a.75.75 0 0 1 .96.95A8.75 8.75 0 0 1 8.65 3.94a.75.75 0 0 1 .95.96 7.25 7.25 0 0 0 10.5 9.5Z"/>
          </svg>
        </button>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
