$nanum-gothic: "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic",
  -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

$sans-serif: $nanum-gothic;
$sans-serif-narrow: $nanum-gothic;
$global-font-family: $nanum-gothic;
$header-font-family: $nanum-gothic;
